* {
    box-sizing: border-box;
}

body {
    margin: 0 0 3em;
    font-family: Arial;
    font-size: 17px;
    background-color: #1B3022;
}
ul {
  list-style-type: none;
}
#video-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

#myVideo {
    min-width: 100%; 
    display: block;
    min-height: 100%; 
}

#video-wrapper:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.brand span {
    position: absolute;
    left: 0;
    display: block;
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    color: #e4eae6;
    margin-left: 1.1em;
    padding-bottom: .5em;

}

.brand span:nth-child(1n) {
    top:1em;
}

.brand span:nth-child(2n) {
    top:2em;
}

.brand span:nth-child(3n) {
    top:3em;
}

#nav {
    position: fixed;
    right: 0;
    top: 25%;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
    padding: 8px;
    background-color: #EEF36A;
    color: #000;
    font-size: 1em;
    letter-spacing: 2px;
}

#nav li a {
    color: #1B3022;
    text-decoration: none;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

section {
    margin-top: 5em;
    width: 100%;
    text-align: center;
}

section .body-content {
    margin: 0 auto;
    padding: 3em;
    background-color: #e4eae6;
    max-width: 800px;
    text-align: left;
    box-shadow: 5px 10px #000;
}

section .main h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    color: #e4eae6;
}
section .body-content {
    line-height: 1.3em;
}
section .body-content p {
    font-family: 'Open Sans', sans-serif;
}